.btn svg {
  margin-right: 10px;
  color:purple;
}

.cart {
  transition: ease all 0.3s;
  position: fixed;
  top:20px;
  left: 1100px;
  border: 2px solid brown;
  width:300px;
  height: 700px;
  padding: 10px;
  margin:10px;
}

@media (min-width: 991px) {
  .cart.active {
    position: fixed;
    width: 300px;
    height: 700;
  }
}

@media (max-width: 991px) {
  .cart {
    position: fixed;
    width: 300px;
    bottom: 550px;
    left: 300px;
    height: calc(20vh - 0px);
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 0;
    border: 2px solid purple;
    
  }
}

